---
Checks:          '*,
                  -*-avoid-non-const-global-variables,
                  -*-magic-numbers,
                  -*-uppercase-literal-suffix,
                  -altera-*,
                  -android-cloexec-fopen,
                  -bugprone-assignment-in-if-condition,
                  -bugprone-branch-clone,
                  -bugprone-casting-through-void,
                  -bugprone-easily-swappable-parameters,
                  -bugprone-implicit-widening-of-multiplication-result,
                  -bugprone-multi-level-implicit-pointer-conversion,
                  -bugprone-reserved-identifier,
                  -bugprone-tagged-union-member-count,
                  -clang-analyzer-optin.performance.Padding,
                  -clang-analyzer-security.ArrayBound,
                  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
                  -clang-diagnostic-error,
                  -clang-diagnostic-unknown-warning-option,
                  -cert-dcl37-c,-cert-dcl51-cpp,
                  -cert-int09-c,
                  -concurrency-mt-unsafe,
                  -cppcoreguidelines-init-variables,
                  -cppcoreguidelines-interfaces-global-init,
                  -cppcoreguidelines-macro-to-enum,
                  -google-readability-*,
                  -hicpp-no-assembler,
                  -hicpp-signed-bitwise,
                  -llvmlibc-*,
                  -llvm-*,
                  -misc-include-cleaner,
                  -modernize-macro-to-enum,
                  -performance-no-int-to-ptr,
                  -readability-avoid-nested-conditional-operator,
                  -readability-function-cognitive-complexity,
                  -readability-identifier-length,
                  -readability-enum-initial-value,
                  -readability-isolate-declaration,
                  -readability-math-missing-parentheses,
                  -readability-redundant-casting,
                  -readability-redundant-declaration,
                  -readability-use-concise-preprocessor-directives'

UseColor: true
SystemHeaders: false
WarningsAsErrors: '*'
...
